/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*general content--------------------------------------------------------------*/

html {
  font-size: 14px;
  font-family: 'Raleway', Arial, sans-serif;
  color: #2d2d2d;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', Georgia, serif;
  line-height: 1;
}

a {
  color: #e2574c;
  text-decoration: none;
}

i {
  font-style: italic;
}

strong {
  font-weight: 700;
}

button {
  font-family: 'Raleway', Arial, sans-serif;
}

.container {
  margin: 0 auto;
  padding: 4rem 0;
  width: 96%;
}

/*navigation station----------------------------------------------------------------*/

.navbar {
  height: 116.85px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 2% 0.5rem;
  background-color: white;
  position: fixed;  
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50; 
  border-bottom: 1px solid #d7d7d7;
  box-shadow: 1px 5px 6px -6px hsla(0, 0%, 50%, .50); 
  box-sizing: border-box;
}

.logo {
  align-self: flex-start;
  flex: 0 1 50%;
}

.logo img {
  max-width: 120px;
}

.cart {
  align-self: flex-end;
  flex: 0 1 50%;
  text-align: right;
  position: relative;
}

.cart img {
  max-width: 50px;
}

.item-count {
  position: absolute;
  display: none;
  top: -4px; 
  right: -1px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #e2574c;
  color: white;
  text-align: center;
  font-weight: 400;
  line-height: 1.7;
  font-size: .8rem;
}

nav {
  align-self: center;
  flex: 1 0 auto;
}

nav ul {
  border-top: 1px solid #d7d7d7;
  text-align: center;
  padding-top: .5rem
}

nav li {
  display: inline;
  text-transform: uppercase;
  margin: 0 1rem;
  font-weight: 400;
}

nav a:hover {
  color: #b64036;
}

/*banner-------------------------------------------------------------------*/

.banner {
  background: linear-gradient(180deg, rgba(0,0,0,.25) 0,
    rgba(0,0,0,.25)),
    url(../images/banner-girl.png) no-repeat 50% 70px,
    url(../images/flower-bkgd.jpg) repeat-x;
  background-size: cover, 150px 370px, cover;
  height: 400px;
  display: flex;
  align-items: center;
  margin-top: 116.85px; 
}

.banner-text {
  text-align: center;
  text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
  width: 100%;
  color: white;
  text-transform: uppercase;
}

.banner-text p {
  /*font-weight: 400;*/
  font-size: 1.25rem;
  font-weight: 400;
}

.banner-text h4 {
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: none;
}

/*about----------------------------------------------*/

.about {
  text-align: center;
}

.about h2 {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
}

.about p {
  font-size: 1.15rem;
}

/*products-------------------------------------------------*/

.three-products {
  display: flex;
  flex-wrap: wrap;
}

.products a {
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 1.6rem;
  font-weight: 400;
  text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
  line-height: 1;
  transform: translate(-50%, -50%);
}

.products a:hover {
  color: #F5EBC6
}


.wide {
  width: 100%;
  padding-bottom: 50%;
  position: relative;
  box-sizing: border-box;
}

.square {
  width: 50%;
  padding-bottom: 50%;
  flex: 2 0 auto;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  box-sizing: border-box;
  position: relative;
}

.wide-mens {
   background: linear-gradient(180deg,rgba(0,0,0,.25) 0,
   rgba(0,0,0,.25)),
   url(../images/mens-category.jpg);
   background-size: cover;
   border-bottom: 4px solid white;
}

.square-trends {
   background: linear-gradient(180deg,rgba(0,0,0,.25) 0,
   rgba(0,0,0,.25)),
   url(../images/trends-category.jpg);
   background-size: cover;
   border-right: 4px solid white;
}

.square-glasses {
   background: linear-gradient(180deg,rgba(0,0,0,.25) 0,
   rgba(0,0,0,.25)),
   url(../images/glasses-category.jpg);
   background-size: cover;
   border-left: 4px solid white;
   /*flex: 1 0 50%;*/
}

.square-sale {
   background: linear-gradient(180deg,rgba(0,0,0,.25) 0,
   rgba(0,0,0,.25)),
   url(../images/sale-category.jpg);
   background-size: cover;
   border-right: 4px solid white;
}

.square-bags {
   background: linear-gradient(180deg,rgba(0,0,0,.25) 0,
   rgba(0,0,0,.25)),
   url(../images/bags-category.jpg);
   background-size: cover;
   border-left: 4px solid white;
}

.wide-womens {
   background: linear-gradient(180deg,rgba(0,0,0,.25) 0,
   rgba(0,0,0,.25)),
   url(../images/womens-category.jpg);
   background-size: cover;
   /*flex: 1 0 100%;*/
   border-top: 4px solid white;
}

/*carousel---------------------------------*/

.featured-text {
  text-align: center;
  margin-bottom: 2rem;
}

.featured-text h2 {
  font-size: 2.4rem;
}

.featured-text p {
  font-size: 1.15rem;
}

.product-cell {
  text-align: center;
  width: 100%;
  padding: 2rem 2rem;
  box-sizing: border-box;
}

.product-category {
  text-transform: uppercase;
  color: #969696;
  font-size: .75rem;
  margin-bottom: .75rem;
  font-weight: 400;
}

.product-cell h3 {
  color: #e2574c;
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.price {
  color: #969696;
  font-weight: 400;
}

.add-to-cart {
  background-color: #242424;
  color: white;
  border-radius: 25px;
  border: 0;
  padding: .4rem 1rem;
  margin-top: 1rem;
  font-size: .8rem;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: #0f87a2;
}

/*subscribe now :)-----------------------------*/

.updates {
  background: linear-gradient(180deg,rgba(0,0,0,.15) 0,
  rgba(0,0,0,.15)),
  url(../images/wave-bkgd.jpg) no-repeat bottom;
  margin-bottom: 8px;
  text-align: center;
  color: white;
  width: 100%;
}

.updates h2 {
  font-size: 2.4rem;
  text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
  margin-bottom: 1.5rem;
}

.updates p {
  font-size: 1.15rem;
  text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
  padding: 0 2%;
  max-width: 680px;
  margin: 0 auto;
}

.email-updates {
  margin: 0 auto;
  max-width: 460px;
  position: relative;
  margin-top: 2rem;
}

input[type=email] {
  width: 88%;
  padding: 1rem 1.75rem;
  padding-right: 150px;
  padding-left: 24.5px;
  border-radius: 25px;
  box-sizing: border-box; 
  border: 0; 
}

input[type=email]:focus {
   box-shadow: 1px 1px 6px hsla(0,0%,39%,.8);
   outline: none;
} 

input[type=submit] {
  background-color: #e2574c;
  color: #fff;
  font-weight: 400;
  padding: .75rem 1.5rem;
  position: absolute;
  right: 7%;
  top: .25rem;
  border-radius: 25px;
  border: 0; 
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #b64036;
}

input[placeholder="Your Email"] {
  color: #969696;
  font-family: 'Raleway';
  font-weight: 300;
} 

input[value="Subscribe"] {
  font-family: 'Raleway';
}

/*footer---------------------------------------*/

.footer-container {
  background-color: #242424;
  width: 100%;
}

.site-footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  color: white;
  line-height: 1.5rem;
   /* width: 100%;   */
  font-family: 'Playfair Display', Georgia, serif;
  max-width: 1200px;
  margin: 0 auto;
}

footer a {
  color: white;
}

footer a:hover {
  color: #e2574c;
}

.copyright, .phone-email {
  margin-bottom: 1rem;
}

.phone-email a {
  text-decoration: underline;
}

.address {
  color: #969696;
}

.social-media li, i {
  display: inline;
  min-width: 25px;
}

.social-media p {
  display: none;
}

.social-media {
  margin-top: 2rem;
}

/* @media--------min-600------------------------------ */

@media only screen and (min-width: 600px) { 

  /* general min 600-------------------- */

  html {
    font-size: 16px;
  }

  /* navbar min 600---------------------- */

  .navbar {
    flex-wrap: nowrap;
    height: 85.62px;
  }

  .navbar ul {
    border-top: 0;
    margin-bottom: .5rem;
  }

  .navbar li {
    font-size: .9rem;
    margin: 0 .4rem;
  }

  .cart {
    order: 3;
  }

  .item-count {
    line-height: 1.4;
    right: -3px;
  }

  /* banner min 600--------------------- */

  .banner {
    margin-top: 85.62px;
  }

  .banner-text h4 {
    font-size: 3rem;
  }

  .cart {
    align-self: center;
  }

  /* about min 600-------------------------- */

  .about {
    width: 60%;
  }

  /* products min 600--------------------- */

  .three-products {
    width: 100%;
    flex-wrap: nowrap; 
  }

  .products a {
    font-size: 1.8rem;
  }

  .wide {
     flex: 0 1 50%; 
    padding-bottom: 25%;
  }

  .square {
     flex: 0 2 25%; 
    padding-bottom: 25%;
  }

  .wide-mens {
    border-top: 0;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
  }

  .square-trends {
    border-top: 0;
    border-left: 4px solid white;
  }

  .square-glasses {
    border-top: 0;
  }

  .square-sale {
    border-bottom: 0;
  }

  .square-bags {
    border-bottom: 0;
    border-right: 4px solid white;
  }

  .wide-womens {
    border-left: 4px solid white;
  }

  /* carousel min 600---------------------------- */

  .carousel-cell {
    width: 50%;
  }

  /* subscribe min 600------------------------------ */

  input[placeholder="Your Email"] {
    font-size: 16px;
  }

  input[value="Subscribe"] {
  font-size: 16px;
  font-weight: 400;
}

  /* footer min 600----------------------------------- */

  .site-footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .copyright-contact {
    text-align: left;
    padding-left: 2%;
    line-height: 1.5rem;
  }

  .social-media {
    margin-top: 0;
  }

    .social-media ul {
    align-self: flex-start;
    padding-right: 3rem;
  }  

  .social-media li {
    display: block;
    line-height: 2rem;
    text-align: left;
  }

  .social-media p {
    display: inline-block;
    font-family: 'Raleway', Arial, sans-serif;
  }


}

/*@media------min-1240-----------------------------------*/

@media only screen and (min-width: 1240px) {

  /* navbar min 1240--------------- */

   .navbar {
    height: 97.5px;
    padding-left: 10%;
    padding-right: 10%;
  } 

  .navbar li {
    font-size: 16px;
    margin: 0 1rem;
  }

  .logo img {
    max-width: 160px;
  }

  .cart img {
    max-width: 62px;
  }

  .item-count {
    line-height: 1.3;
    right: -3px;
    height: 24px;
    width: 24px;
    font-size: 1rem;
  }

  /* banner min 1240---------------------------- */

  .banner {
    height: 550px;
    background-size: cover, 250px 615px, contain; 
    margin-top: 97.5px;
  }

  .banner-text h4 {
    font-size: 4rem;
  }

  .banner-text p {
    padding-bottom: 1.5rem;
  }

  /* about min 1240-------------------------- */

  .about {
    width: 50%;
  }

  /* products min 1240-------------------- */

  .products a {
    font-size: 2.4rem;
  }

  /* carousel min 1240---------------------------- */

  .main-carousel {
    max-width: 1240px;
    margin: 0 auto;
  }

  .carousel-cell {
    width: 25%;
  }

  .carousel-cell img {
    max-width: 100%;
  }

}

/*header*/
/*navigation bar*/

/*.navbar {
  padding-top: 16px;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;*/
  /*width: 100%;*/


/*.logo {
  flex-basis: 20%;
}

.logo img {
  width: 160px;
  height: auto;
}

.cart {
  flex-basis: 20%;
  text-align: right;
}

.cart img {
  width: 62;
  height: auto;
  align-self: flex-end;
}*/

/*nav li {
  display: inline;
  font-size: 1rem;
  margin: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}*/
